# -------------------------
# .NET / C#
# -------------------------
bin/
obj/
**/bin/
**/obj/

# Visual Studio / VS Code / user-specific files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser

# Build / test results
TestResults/
[Bb]uild[Ll]og.*
*.coverage
*.coveragexml
coverage/
**/coverage/
GieudexPol.API/DataProtectionKeys/

# NuGet
*.nupkg
packages/
project.lock.json
project.assets.json

# -------------------------
# Angular / Node frontend
# -------------------------
node_modules/
**/node_modules/

dist/
**/dist/
out-tsc/
tmp/

.angular/
**/.angular/
.cache/
**/.cache/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo

# -------------------------
# Environment / secrets
# -------------------------
.env
.env.*
*.env

# Dozwolone przykłady env
!.env.example
!.env.template

# -------------------------
# Docker / local overrides
# -------------------------
docker-compose.override.yml

# -------------------------
# OS junk
# -------------------------
.DS_Store
Thumbs.db
desktop.ini
/.vscode
.vscode/settings.json
